/* Base styles */
.match-detailss {
  font-family: Arial, sans-serif;
 
  width: 100%;
  background-color: #d2c9c9;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #002366;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;

}

.match-infoo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.info-row span {
  font-size: 14px;
}

/* Section Styles */
.section {
  padding: 20px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.section h2 {
  font-size: 16px;
  color: #002366;
  margin-bottom: 10px;
}

.section p {
  font-size: 14px;
  line-height: 1.6;
}

.live-info {
  text-align: center;
}

.live-button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.live-button:hover {
  background-color: #cc0000;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .match-info {
    grid-template-columns: 1fr;
  }

  .info-row {
    flex-direction: column;
    align-items: flex-start;
  }
}
